.btn{
    color: white;
    /* border: 2px solid black; */
    padding: 12px 12px 12px 12px;
    margin: 0 10px 0 10px; 
    border-radius: 2px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    background:  rgb(70, 70, 70);
}

.imag1{
    object-Position: 0px 0px;
    height: 128px;
    width: 128px;  
    border: 2px solid black;    
}

.imag2{
    object-Position: -128px 0px;
    height: 128px;
    width: 128px;  
    border: 2px solid black;    
}
.imagdefault{
    height: 256px;
    width: 256px;  
    border: 2px solid black;    
}



.litext{
    margin: 5px 0 0 0;
}

li{
    padding: 2px; 
}

.textgold{
    color: rgb(204, 133, 0);
}

/* ABOUT ME - Section 1 */


/* IMAGE BEN AND KAYLEE */
.section1{
display:flex;
/* border: 2px solid green; */
}

   


    @media only screen and (max-width: 500px) {
        .section1{
        flex-direction: column;
        display: block;
        }
    }

.name{
    /* display:flex;  */
    /* border: 2px solid blue;  */
}

    @media only screen and (max-width: 500px) {
        .name{
            display:block;
        }
    }

.imgBenKaylee{
    height:auto;
    width: 500px;
    border-radius: 5px;
    padding: 0 0 10px 0;
}

    @media only screen and (max-width: 800px) {
        .imgBenKaylee{
        height:auto;
        width: 320px;
        }
    }

    @media only screen and (max-width: 500px) {
            .imgBenKaylee{
            height:auto;
            width: 256px;
            }
        }

/* END BEN AND KAYLEE */

.textholder1{
    display:flex;  
    padding: 0 20px 0 20px;
    /* border: 2px solid green; */
}
 

/* SECTION 2 */
.sectionContact{
    display:flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin: 15px 35px 0 35px;
    border-top: 3px solid black;
    /* border: 2px solid black; */
}


    @media only screen and (max-width: 500px) {
    
        .sectionContact{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 15px 0 15px 0;
            border-top: 2px solid black;
           
        }

    }

    @media only screen and (max-width: 320px) {

        .sectionContact{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 5px;
            padding: 10px 0 10px 0;
            border-top: 2px solid black;
           
        }
    }



.ulholder{
    display: flex;
}